.step-6
    display none
    .passport
        background: #007C87
        padding-top 115px
        &__wrapper
            max-width: 800px
            margin: auto
            background: #FFFFFF;
            border-radius: 45px;
            padding: 50px 60px 60px 60px
        &__title
            font-weight: 700;
            font-size: 34px;
            line-height: 34px;
            text-align: center;
            color: #192122;
            margin-bottom 50px
        &__item-wide
            margin-bottom 20px
            &-label
                display flex
                align-items: center
                font-weight: 600;
                font-size: 15px;
                line-height: 15px;
                color: #182021;
            &-container
                display flex
                justify-content: space-between
                width: 240px
                margin-bottom 40px
        &__container-bottom
            display flex
            justify-content: space-between
            align-items: center
            &-back
                padding-left 30px
                position relative
                font-weight: 600;
                font-size: 15px;
                line-height: 15px;
                color: #182021;
                &:hover
                    color: rgba(24, 32, 33, .5);
                &:before
                    content ""
                    position absolute
                    width: 20px
                    height: 20px
                    display block
                    left: 0
                    top: -2px
                    background: url(../img/main/back.svg)

        &-input
            font-weight: 600;
            font-size: 15px;
            line-height: 15px;
            color: rgba(24, 32, 33, .5);
            mix-blend-mode: normal;
            height: 140px
            width: 100%
            resize: none
            background: #FFFFFF;
            border: 1px solid #D1D6D8;
            border-radius: 25px;
            padding: 17px 25px
            &:placeholder
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 15px;
                color: rgba(24, 32, 33, .5);
                mix-blend-mode: normal;
            &:focus
                border: 1px solid #00AAB5;
                


