.select2-search__field
    display none

.select2-container
    width: 100%!important

.select2-container--default .select2-selection--single .select2-selection__arrow
    display none  !important


.select2-container--default .select2-selection--single
    background: #fff!important
    border: 1px solid #d1d6d8 !important
    border-radius: 25px 25px 25px 25px !important
    height: 50px !important
    margin-bottom: 20px !important

.select2-container--default .select2-selection--single[aria-expanded="true"]
    border: 1px solid #00aab5 !important
    border-radius: 25px 25px 0 0 !important
    border: none !important

.select2-container--open .select2-dropdown--above
    border: 1px solid #00aab5 !important
    border-radius: 25px 25px 0 0 !important
    border-bottom: none !important
    top: 0 !important

.select2-container--default .select2-selection--single .select2-selection__rendered
    line-height: 50px !important
    padding: 0 20px !important


.select2-results__option
    padding: 11px 20px !important
    border-top: 1px solid #fafafa !important

.select2-container--default .select2-results__option--selected
    background: transparent !important
    font-weight 700 !important
    color: #000 !important

.select2-dropdown
    border-radius: 0 0 25px 25px !important
    border: 1px solid #00aab5 !important
    border-top: transparent !important
.select2-container--open .select2-dropdown
    top: -20px

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable
    background: transparent !important
    font-weight 700 !important
    color: #000 !important
    border-top: transparent !important



.autocomplete-suggestions { border: 1px solid #00aab5; background: #FFF; overflow: auto; padding-bottom: 10px; border-radius:0 0 25px 25px; border-top: none }
.autocomplete-suggestion { padding: 11px 20px;border-top: 1px solid #fafafa; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #fff; font-weight: 700; }
.autocomplete-suggestions strong { font-weight: 700; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
.autocomplete-suggestion { 
    cursor: pointer;
}

.select2-container--open.select2-container--below
    border: 1px solid #00aab5 
    border-radius: 25px 25px 0 0 
    border-bottom: none 
.select2-container--open.select2-container--above
    border: 1px solid #00aab5 
    border-radius: 0 0 25px 25px 
    border-top: none 
    
.select2-container--default
    border: none

.select2-search--dropdown
    padding 0

.select2-container--open .select2-dropdown--below
    padding: 0 0 20px 0 !important
.select2-container--open .select2-dropdown--above
    padding: 20px 0 0 0 !important

.select__wrapper
    height: 71px
