@import "reset/reset.css";
@import "slick/slick-theme.css";
@import "slick/slick.css";
@import "noui/nouislider.min.css";
@import "fancybox/fancybox.css";
@import "wow/animate.css";
@import "select2/select2.min.css";

